{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
  <div class="col-lg-12">
  <center style="padding:10px"><h4>Update Information</h4></center>
  </div>
  </div>
  <br><br>
  <div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
  <center><button class="btn_1" onclick="myFunction()">Coaching</button></center>
  <div id="myDIV">
    <section class="container" style="padding:20px;margin-top: 60px; background-color: white;">
      
      <center style="padding:10px"><h4>Edit Coaching</h4></center>
      
      <form action="update_coaching" enctype="multipart/form-data" method="post">{% csrf_token %}
      <div style="width: 350px;padding-top: 10px;margin: auto">
          <label for="input1" class="form-label">Name Of Coaching</label>
          <input type="text" class="form-control" id="input1" placeholder="Name" name="name1" value="{{coaching.name}}">
        </div>
        <div style="width: 350px;padding-top: 10px;margin: auto">
          <label for="input2" class="form-label">Description</label>
          <input class="form-control" id="input2" rows="3" name="description1" value="{{coaching.description}}"/>
        </div>
      <div style="width: 350px;padding-top: 10px;margin: auto">
        <img src="{{coaching.logo.url}}" class="img-fluid" style="margin: 10px;">
          <label for="input3" class="form-label">Logo</label>
          <input type="file" id="input3" name="image1">
        </div>
      <div style="width: 350px;padding-top: 20px;margin: auto;">
          <button class="btn btn-success" style="margin: auto" type="submit">Update</button> 
          
        </div>
      </form>
      
      
  </section>
      </div>
      </div>
      <br><br>
      <div class="col-lg-3"></div>
      </div>
      <div class="row">
      <div class="col-lg-3"></div>
         <div class="col-lg-6">
    <center>  <button  class="btn_1" onclick="myFunction1()">Additional Information</button></center>
      <div id="div1">
      
        
    <section class="container" style="padding:50px;margin-top: 60px; background-color: white;">
      
      
      <center style="padding:10px"><h4>Edit Additional Information</h4></center>
      <form action="update_coaching_metadata" enctype="multipart/form-data" method="post">{% csrf_token %}
        
        
          <div class="row" style="padding-top: 10px;">
            
            <div class="col-lg-6" style="padding: 10px">
          <label for="input2" class="form-label">Owner Name</label>
          <input type="text" class="form-control" id="input2" placeholder="Owner Name" name="name2" value={{info.owner_name}}>
            </div>
            <div class="col-lg-6" style="padding: 10px">
          <label for="input3" class="form-label">Owner Description</label>
          <input type="text" class="form-control" id="input3" placeholder="Owner Description" name="description2" value="{{info.owner_description}}">
            </div>
        </div>
          
          <div class="row" style="padding-top: 10px;">
            <div class="col-lg-6" style="padding: 10px">
          <label for="input2" class="form-label">Contact 1</label>
          <input type="text" class="form-control" id="input2" placeholder="Contact1" name="contact1" value="{{info.contact}}">
            </div>
            <div class="col-lg-6" style="padding: 10px">
          <label for="input3" class="form-label">Contact 2</label>
          <input type="text" class="form-control" id="input3" placeholder="Contact2" name="contact2" value="{{info.help_contact}}">
            </div>
        </div>
          
          <div class="row" style="padding-top: 10px;">
            <div class="col-lg-6" style="padding: 10px">
          <label for="input2" class="form-label">Profile Picture</label>
          <img src="{{info.owner_image.url}}" class="img-fluid" style="margin: 10px;">
          <input type="file" id="input2" name="owner_image1">
            </div>
            <div class="col-lg-6" style="padding: 10px">
          <label for="input3" class="form-label">Established On</label>
          <input type="date" class="form-control" id="input3" name="date1" value="{{info.established_on|date:'Y-m-d' }}">
            </div>
        </div>
          
          
      <div class="row" style="padding-top: 10px;">
          <div class="col-lg-3">
          <button class="btn btn-success" style="margin: auto" type="submit">Update</button> 
          </div>
        </div>
      </form>
      
      
  </section>
</div>
  </div>
  <br><br>
  <div class="col-lg-3"></div>
  </div>
    <div class="row">
          <div class="col-lg-3"></div>
         <div class="col-lg-6">
  <center><button class="btn_1" onclick="myFunction2()">Branch</button></center>
  <div id ="div2">
    {% for branch in branches %}
    <section class="container" style="padding:20px;margin-top: 60px; background-color: white;">
      <center style="padding:10px"><h4>{{branch.name}}</h4></center>
      <form action="{% url 'update_branch' id=branch.id %}" method="post">{% csrf_token %}
      <div style="width: 350px;padding-top: 10px;margin: auto">
          <label for="input1" class="form-label">Name Of Branch</label>
          <input type="text" class="form-control" id="input1" placeholder="Name" name="name3" value="{{branch.name}}">
        </div>
        <div style="width: 350px;padding-top: 10px;margin: auto">
          <label>Branch Type: {{branch.branch_type}}</label><br>
            <label>Choose Branch Type</label><br>
          <input type="radio" id="main" name="branch_type" value="Main">
            <label for="main" class="form-label">Main Branch</label><br>
          <input type="radio" id="sub" name="branch_type" value="Sub">
            <label for="sub" class="form-label">Sub Branch</label>
        </div>
      <div style="width: 350px;padding-top: 20px;margin: auto;">
          <button class="btn btn-success" style="margin: auto" type="submit">Update</button> 
          

        </div>
      </form>
      
      
  </section>
  {% endfor %}
  </div>
     </div>
     <br><br>
     <div class="col-lg-3"></div>
  </div>
      <div class="row">
        <div class="col-lg-3"></div>
         <div class="col-lg-6">
  <center><button class="btn_1" onclick="myFunction3()">Address</button></center>
  <div id="div3">
    {% for address in all_address %}
    <section class="container" style="padding:50px;margin-top: 60px; background-color: white;">
      
      <center style="padding:10px"><h4>{{address.branch.name}}</h4></center>
      
      <form action="{% url 'update_address' id=address.id %}" method="post">{% csrf_token %}
        
          <div class="row" style="padding-top: 10px;">
          
      <div class="col-lg-6">
        
          <label for="branch">Choose a Branch:</label><br>
  
            <select name="branch" id="branches">
              {% for branch in branches%}
              {% if branch == address.branch %}
              <option value="{{branch}}" selected>{{branch}}</option>
              {% else %}
              <option value="{{branch}}">{{branch}}</option>
              {% endif %}
              {% endfor %}
              
            </select>
        </div>
          </div>
        
          <div class="row" style="padding-top: 10px;">
            <div class="col-lg-6" style="padding: 10px">
          <label for="input2" class="form-label">Line</label>
          <input type="text" class="form-control" id="input2" placeholder="Line" name="line" value="{{address.line1}}">
            </div>
            <div class="col-lg-6" style="padding: 10px">
          <label for="input3" class="form-label">Apartment</label>
          <input type="text" class="form-control" id="input3" placeholder="Apartment" name="apartment" value="{{address.apartment}}">
            </div>
        </div>
          
          <div class="row" style="padding-top: 10px;">
            <div class="col-lg-6" style="padding: 10px">
          <label for="input2" class="form-label">Building</label>
          <input type="text" class="form-control" id="input2" placeholder="Building" name="building" value="{{address.building}}">
            </div>
            <div class="col-lg-6" style="padding: 10px">
          <label for="input3" class="form-label">Landmark</label>
          <input type="text" class="form-control" id="input3" placeholder="Landmark" name="landmark" value="{{address.landmark}}">
            </div>
        </div>
          
          <div class="row" style="padding-top: 10px;">
            <div class="col-lg-6" style="padding: 10px">
          <label for="input2" class="form-label">City</label>
          <input type="text" class="form-control" id="input2" placeholder="City" name="city" value="{{address.city}}">
            </div>
            <div class="col-lg-6" style="padding: 10px">
          <label for="input3" class="form-label">District</label>
          <input type="text" class="form-control" id="input3" placeholder="District" name="district" value="{{address.district}}">
            </div>
        </div>
          
          <div class="row" style="padding-top: 10px;">
            <div class="col-lg-6" style="padding: 10px">
          <label for="input2" class="form-label">State</label>
          <input type="text" class="form-control" id="input2" placeholder="State" name="state" value="{{address.state}}">
            </div>
            <div class="col-lg-6" style="padding: 10px">
          <label for="input3" class="form-label">Pincode</label>
          <input type="text" class="form-control" id="input3" placeholder="Pincode" name="pincode" value="{{address.pincode}}">
            </div>
        </div>
          
      <div class="row" style="padding-top: 10px;">
          <div class="col-lg-3">
          <button class="btn btn-success" style="margin: auto" type="submit">Update</button> 
          </div>
        </div>
      </form>
      
      
  </section>
{% endfor %}

  </div>
    </div>
    <div class="col-lg-3"></div>
  </div>

  <div class="row">
    <div class="col-lg-3"></div>
     <div class="col-lg-6">
<center><button class="btn_1" onclick="myFunction4()">Course</button></center>
<div id="div4">
  {% for course in courses %}
  <section class="container" style="padding:50px;margin-top: 60px; background-color: white;">
    <center style="padding:10px"><h4>{{course.name}}</h4></center>
      <form action="{% url 'update_course' id=course.id %}" method="post">{% csrf_token  %}
        
          <div class="row" style="padding-top: 10px;">
      <div class="col-lg-6">
        <label for="branch">Choose a Branch:</label><br>

        <select name="branch1" id="branches">
          {% for branch in branches%}
              {% if branch == address.branch %}
              <option value="{{branch}}" selected>{{branch}}</option>
              {% else %}
              <option value="{{branch}}">{{branch}}</option>
              {% endif %}
              {% endfor %}
          
        </select>
        </div>
          <div class="col-lg-6">
          <label for="stream">Choose a Stream:</label><br>

            <select name="stream" id="stream">
              {% if 'Science' == course.stream %}
              <option value="Science" selected>Science</option>
              {% else %}
                <option value="Science">Science</option>%}
                {% endif %}
                {% if 'Commerce' == course.stream %}
                <option value="Commerce" selected>Commerce</option>
                {% else %}
                  <option value="Commerce">Commerce</option>%}
                  {% endif %}
                  {% if 'Arts' == course.stream %}
              <option value="Arts" selected>Arts</option>
              {% else %}
                <option value="Arts">Arts</option>%}
                {% endif %}
                {% if 'Music' == course.stream %}
              <option value="Music" selected>Music</option>
              {% else %}
                <option value="Music">Music</option>%}
                {% endif %}
                {% if 'Dance' == course.stream %}
              <option value="Dance" selected>Dance</option>
              {% else %}
                <option value="Dance">Dance</option>%}
                {% endif %} 
            </select>
          </div>
          </div>
        
          <div class="row" style="padding-top: 10px;">
            <div class="col-lg-6" style="padding: 10px">
          <label for="input2" class="form-label">Name</label>
          <input type="text" class="form-control" id="input2" placeholder="Name" name="name4" value="{{course.name}}">
            </div>
            <div class="col-lg-6" style="padding: 10px">
          <label for="input3" class="form-label">Description</label>
          <input type="text" class="form-control" id="input3" placeholder="Description" name="description4" value="{{course.description}}">
            </div>
        </div>
          
          <div class="row" style="padding-top: 10px;">
            <div class="col-lg-6" style="padding: 10px">
          <label for="input2" class="form-label">Start Date</label>
          <input type="date" class="form-control" id="input2" name="start" value="{{course.start_date|date:'Y-m-d' }}">
            </div>
            <div class="col-lg-6" style="padding: 10px">
          <label for="input3" class="form-label">End Date</label>
          <input type="date" class="form-control" id="input3" name="end" value="{{course.end_date|date:'Y-m-d' }}">
            </div>
        </div>
          
          <div class="row" style="padding-top: 10px;">
            <div class="col-lg-6" style="padding: 10px">
              <label for="input2" class="form-label">Currency</label>
              <input type="text" class="form-control" id="input2" placeholder="Currency" name="currency" value="{{course.currency}}">
                </div>
            <div class="col-lg-6" style="padding: 10px">
          <label for="input3" class="form-label">Fees</label>
          <input type="text" class="form-control" id="input3" placeholder="Fees" name="fees" value="{{course.fees}}">
            </div>
        </div>
          
          <div class="row" style="padding-top: 10px;">
            <div class="col-lg-6" style="padding: 10px">
              <label for="input2" class="form-label">Syllabus : <a href="http://127.0.0.1:8000{{course.syllabus}}" style="color:blue">View</a></label>
              <input type="file" id="input2" placeholder="Syllabus" name="syllabus">
                </div>
            <div class="col-lg-6" style="padding: 10px">
          <label for="input3" class="form-label">Active</label><br>
          {% if course.is_active %}
          <input type="radio" id="on" name="active" checked>
                <label for="on">On</label>
                <input type="radio" id="off" name="active">
                <label for="off">Off</label>
              {% else %}
              <input type="radio" id="on" name="active">
                <label for="on">On</label>
                <input type="radio" id="off" name="active" checked>
                <label for="off">Off</label>
            </div>
                {% endif %}

           
        </div>
          
        <div class="row" style="padding-top: 10px;">
          <div class="col-lg-3">
          <button class="btn btn-success" style="margin: auto" type="submit">Update</button> 
          </div>
        </div>
      </form>
      
      
  </section>
  {% endfor %}
</div>
</div>
<div class="col-lg-3"></div>
</div>

<div class="row">
  <div class="col-lg-3"></div>
   <div class="col-lg-6">
<center><button class="btn_1" onclick="myFunction5()">Faculty</button></center>
<div id="div5">
  {% for faculty in faculties %}
  <section class="container" style="padding:50px;margin-top: 60px; background-color: white;">
      
    <center style="padding:10px"><h4>{{faculty.name}}</h4></center>
    
    <form action="{% url 'update_faculty' id=faculty.id %}" enctype="multipart/form-data" method="post">{% csrf_token %}
      
        <div class="row" style="padding-top: 10px;">
          <div class="col-lg-6" style="padding: 10px">
        <label for="input2" class="form-label">Name</label>
        <input type="text" class="form-control" id="input2" placeholder="Name" name="name5" value="{{faculty.name}}">
          </div>
          <div class="col-lg-6" style="padding: 10px">
        <label for="input3" class="form-label">Age</label>
        <input type="text" class="form-control" id="input3" placeholder="Age" name="age" value="{{faculty.age}}">
          </div>
      </div>
        
        <div class="row" style="padding-top: 10px;">
          <div class="col-lg-6" style="padding: 10px">
        <label for="input2" class="form-label">Specialization</label>
        <input type="text" class="form-control" id="input2" placeholder="Specialization" name="specialization" value="{{faculty.specialization}}">
          </div>
          <div class="col-lg-6" style="padding: 10px">
        <label for="input3" class="form-label">Description</label>
        <input type="text" class="form-control" id="input3" placeholder="Description" name="description5" value="{{faculty.meta_description}}"> 
          </div>
      </div>
        
        <div class="row" style="padding-top: 10px;">
          <div class="col-lg-6" style="padding: 10px">
        <label for="input2" class="form-label">Profile Picture : <a href="http://127.0.0.1:8000{{faculty.faculty_image.url}}" style="color:blue">View</a></label>
        <input type="file" id="input2" name="pic">
          </div>
      </div>
        
        
    <div class="row" style="padding-top: 10px;">
        <div class="col-lg-3">
        <button class="btn btn-success" style="margin: auto" type="submit">Update</button> 
        
        </div>
      </div>
    </form>
    
    
</section>
{% endfor %}
</div>
</div>
<div class="col-lg-3"></div>
</div>

<div class="row">
  <div class="col-lg-3"></div>
   <div class="col-lg-6">
<center><button class="btn_1" onclick="myFunction6()">Batch</button></center>
<div id="div6">
  {% for batch in batches %}
  <section class="container" style="padding:50px;margin-top: 60px; background-color: white;">
      
    <center style="padding:10px"><h4>{{batch.name}}</h4></center>
    
    <form action="{% url 'update_batch' id=batch.id %}" method="post">{% csrf_token %}
      
        <div class="row" style="padding-top: 10px;">
    <div class="col-lg-6">
        <label for="course">Choose a Course:</label><br>

          <select name="course" id="course" style="width: 150px;">
            {% for course in courses %}
            {% if batch == batch.course %}
        <option value="{{course}}" selected>{{course}}</option>
        {% else %}
        <option value="{{course}}">{{course}}</option>
        {% endif %}
        {% endfor %}
          </select>
      </div>
      <div class="col-lg-6">
        <label for="course">Choose a Faculty:</label><br>

          <select name="faculty" id="course" style="">
            {% for faculty in faculties %}
            {% if faculty == batch.teacher %}
        <option value="{{faculty}}" selected>{{faculty}}</option>
        {% else %}
        <option value="{{faculty}}">{{faculty}}</option>
        {% endif %}
        {% endfor %}
          </select>
      </div>
        </div>
      
        <div class="row" style="padding-top: 10px;">
          <div class="col-lg-6" style="padding: 10px">
        <label for="input2" class="form-label">Name</label>
        <input type="text" class="form-control" id="input2" placeholder="Name" name="name6" value="{{batch.name}}">
          </div>
          <div class="col-lg-6" style="padding: 10px">
        <label for="input3" class="form-label">Student Limit</label>
        <input type="text" class="form-control" id="input3" placeholder="Student Limit" name="limit" value="{{batch.student_limit}}">
          </div>
      </div>
        
        <div class="row" style="padding-top: 10px;">
          <div class="col-lg-6" style="padding: 10px">
        <label for="input2" class="form-label">Start Time</label>
        <input type="time" class="form-control" id="input2" name="start_time" value="{{batch.start_time|time}">
          </div>
          <div class="col-lg-6" style="padding: 10px">
        <label for="input3" class="form-label">End Time</label>
        <input type="time" class="form-control" id="input3" name="end_time" value="{{batch.end_time|time}}">
          </div>
      </div>
        
        <div class="row" style="padding-top: 10px;">
          <div class="col-lg-6" style="padding: 10px">
        <label for="input2" class="form-label">Students Enrolled</label>
        <input type="text" class="form-control" id="input2" placeholder="Students Enrolled" name="enrolled" value="{{batch.students_enrolled}}">
          </div>
          <div class="col-lg-6" style="padding: 10px">
        <label for="input3" class="form-label">Active</label><br>
        {% if batch.is_active %}
          <input type="radio" id="on" name="active1" checked>
                <label for="on">On</label>
                <input type="radio" id="off" name="active1">
                <label for="off">Off</label>
              {% else %}
              <input type="radio" id="on" name="active1">
                <label for="on">On</label>
                <input type="radio" id="off" name="active1" checked>
                <label for="off">Off</label>
            </div>
                {% endif %}
          </div>
      </div>
        
        
    <div class="row" style="padding-top: 10px;">
        <div class="col-lg-3">
        <button class="btn btn-success" style="margin: auto" type="submit">Update</button> 
        </div>
      </div>
    </form>
    
    
</section>
{% endfor %}

</div>
</div>
<div class="col-lg-3"></div>
</div>

<hr>
<section class="container">
<div class="row">
    
  <div class="col-lg-2">
    <ul style="list-style-type: none">
        <li><h4>India</h4></li>
        <li><h4 class="text-muted"><img src='{% static "images/lang.jpg" %}' width="30px" height="30px">English</h4></li>
        <li style="padding-bottom: 10px"><img src='{% static "images/appstore.png" %}' height="50px" width="150px"></li>
        <li><img src='{% static "images/playstore.png"%}' height="50px" width="150px"></li>
      </ul>
    </div>  
    
    <div class="col-lg-2">
    <ul style="list-style-type: none">
        <li><h4>Company</h4></li>
      <li>About</li>
        <li>Blog</li>
        <li>Careers</li>
        <li>Contact</li>
      </ul>
    </div>
    
    <div class="col-lg-2">
    <ul style="list-style-type: none">
        <li><h5>For Students</h5></li>
      <li>Code Of Conduct</li>
        <li>Community</li>
        <li>Verified Users</li>
        <li>Blogger Help</li>
        <li>Developers</li>
        <li>Mobile Apps</li>
      </ul>
    </div>
    
    <div class="col-lg-2">
    <ul style="list-style-type: none">
        <li><h5>For Merchant</h5></li>
      <li>Add a Coaching</li>
        <li>Claim your Listing</li>
        <li>Business</li>
        <li>Business Owner Guidelines</li>
        <li>Business Blog</li>
        <li>Restaurant Widgets</li>
      </ul>
    </div>
    
    <div class="col-lg-2">
    <ul style="list-style-type: none">
        <li><h4>For You</h4></li>
      <li>Privacy</li>
        <li>Terms</li>
        <li>API Policy</li>
        <li>CSR</li>
        <li>Security</li>
        <li>Site Map</li>
      </ul>
    </div>
    
    <div class="col-lg-2" style="padding:0px 10px">
        <ul style="list-style-type: none">
            <li><h4>Social Links</h4></li>
        <li><a href="#" style="padding: 5px"> <i class="fa fa-facebook fa-fw" style="color:black;"></i></a>
        <a href="#" style="padding: 5px"> <i class="fa fa-twitter fa-fw" style="color:black;"></i> </a>
        <a href="#" style="padding: 5px"> <i class="fa fa-google" aria-hidden="true" style="color:black;"></i> </a></li>
        </ul>
    </div>
    
    </div>

</section>


<!-- Optional JavaScript -->
<!-- Popper.js first, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}