<!doctype html>
<html lang="en">
  <head>
      {% load static %}{% load socialaccount %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

      <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
    <title>Merchant Login</title>
      
      <link rel="stylesheet" href="{% static 'css/login_merchant.css' %}">
   </head>
  <body>
    <div class="container" style="margin: 100px auto;">
    
        <div class="row">
        
            <div class="col-lg-6 login-form">
                <div class="form sign-in container">
                      <h2>Merchant Sign In</h2>
                      <form action="login_merchant" method="POST">{% csrf_token %}
                      <label>
                        <span>Email Address</span>
                        <input type="email" name="email">
                      </label>
                      <label>
                        <span>Password</span>
                        <input type="password" name="password">
                      </label>
                      <br>
                      <div style="color: red;"><center>{{error}}</center></div>
                      <center><button type="submit">Sign In</button></center>
                      <a href="reset_password"><p class="forgot-pass">Forgot Password ?</p></a>

                      <div class="social-media">
                        <ul>
                          <li><a href="{% provider_login_url 'facebook'  %}" ><img src="{% static 'img/facebook.png' %}"></li></a>
                          <li><a href="{% provider_login_url 'google' %}"><img src="{% static 'img/google.png' %}"></li></a>
                        </ul>
                      </div>
                      </form>
                    </div>
            </div>
            
            <div class="col-lg-6" style="background-color: white;padding: 0;">
                
                <div class="bg-img">
                    <div class="img-text m-up">
                      <h2>New here?</h2>
                      <p>Sign up and discover great amount of new opportunities!</p>
                      <center><a href="register_merchant"><button>
                        Sign Up
                      </button></a></center>
                    </div>

                    

            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </body>
</html>